In [100]:
import pandas as pd
df = pd.read_csv('income.csv')
df

,Age,Workclass,fnlwgt,Education,Education-num,marital-status,Occupation,Relationship,Race,Gender,Capital-gain,Capital-loss,Hours-per-week,Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [101]:
df.shape

(32561, 15)

In [102]:
#drop fnlwgt and Education column as they have no use
df.drop(['fnlwgt','Education'],axis=1,inplace=True)

In [103]:
X = df.drop('Income', axis=1)
Y = df['Income']

In [104]:
df.columns

Index(['Age', 'Workclass', 'Education-num', 'marital-status', 'Occupation',
       'Relationship', 'Race', 'Gender', 'Capital-gain', 'Capital-loss',
       'Hours-per-week', 'Country', 'Income'],
      dtype='object')

In [105]:
#remove all '?' from the dataset and replace them with Null 
import numpy as np
df.replace(' ?',np.nan,inplace=True)

In [106]:
df.isna().sum()
df['Workclass'].fillna(df['Workclass'].mode()[0],inplace=True)
df['Occupation'].fillna(df['Occupation'].mode()[0],inplace=True)
df['Country'].fillna(df['Country'].mode()[0],inplace=True)

In [107]:
df.isna().sum()

Age               0
Workclass         0
Education-num     0
marital-status    0
Occupation        0
Relationship      0
Race              0
Gender            0
Capital-gain      0
Capital-loss      0
Hours-per-week    0
Country           0
Income            0
dtype: int64

In [108]:
df.describe()

                Age  Education-num  Capital-gain  Capital-loss  Hours-per-week
count  32561.000000   32561.000000  32561.000000  32561.000000    32561.000000
mean      38.581647      10.080679   1077.648844     87.303830       40.437456
std       13.640433       2.572720   7385.292085    402.960219       12.347429
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [109]:
#find outliers in the data set
# def find_outliers(data):
#     q1 = data.quantile(0.25)
#     q3 = data.quantile(0.75)
#     iqr = q3 - q1
#     lower_bound = q1 - (1.5 * iqr)
#     upper_bound = q3 + (1.5 * iqr)
#     return lower_bound, upper_bound

# # for all the columns find and remove all outliers
# def remove_outliers(data):
#     for col in data.columns:
#         lower_bound, upper_bound = find_outliers(data[col])
#         data = data[(data[col] > lower_bound) & (data[col] < upper_bound)]
#     return data
# remove_outliers(df)

In [110]:
Y = pd.get_dummies(Y,columns=['Income'],drop_first=True)
X = pd.get_dummies(X,columns=['Workclass','marital-status','Occupation','Relationship','Race','Gender','Country'],drop_first=True)

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [114]:
#import GaussianNB model
from sklearn.naive_bayes import GaussianNB
GB = GaussianNB()
GB.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [115]:
y_pred = GB.predict(X_test)

In [116]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[4151,  791],
       [ 356, 1215]])

In [117]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8238906801781053

In [118]:
# GBB = GaussianNB(var_smoothing=1)
# GBB.fit(X_train,y_train)
# y_pred2 = GBB.predict(X_test)
# confusion_matrix(y_test,y_pred2)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[4941,    1],
       [1519,   52]])

In [119]:
# accuracy_score(y_test,y_pred2)

0.7666206049439582